body {
  font-family: 'Montserrat','Arial',sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #515076;
  background-image: url('img/background-flowers.png');
  background-repeat: no-repeat; 
  background-position-x: 85px;
}

main {
  width: 1280px;
  height: 1725px;
}

.title-page {
  font-size: 70px;
  font-weight: 400;
  color: #515076;
  text-align: center;
  margin-top: 220px;
}

.product-description { 
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 25px;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
  margin: 5px 0px 5px 0px;
  margin-left: 25px;
}

.text-product {
  margin-left: 25px;
}

.composition-product {
  margin-left: 25px;
}

.list-composition-product {
  padding-left: 0;
  margin-left: 38px;
}

.card-container {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
  margin: 25px;
  box-sizing: border-box;
  list-style: none;
}

.card-image {
  display: block;
  align-items: center;
  padding: 25px;
}

.price-label {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.price-value {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #515076;
}

.background-item {
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  align-items: flex-start;
  margin-top: 20px;
}

.color_button {
 padding: 30px;
 font-size: 20px;
 font-weight: 600;
 background-color: #042d5d;
 color: white;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 margin-left: 40px;
}

.change_color_button {
 background-color: #4d0e08;
 padding: 30px;
 font-size: 20px;
 font-weight: 600;
 color: white;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 margin-left: 40px;
}

.change_color {
  background-color: #042d5d;
}

.mockup-footer {
  width: 1728px;
  min-height: 477px;
  box-sizing: border-box;
  background-color: #3A3A3A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar-footer {
  width: 1569px;
  height: 147px;
  display: flex;
  align-items: center;
  padding: 85px 75px 245px 84px;
  justify-content: space-between;
}

.title-footer {
  width: 409px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-footer {
 color: #FFFFFF;
 font-weight: 800;
 font-size: 28px;
 padding-bottom: 16px;
}

.name-best-product {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
  padding-bottom: 42px;
}

.vk-picture {
  margin-left: 30px;
}

.right-footer {
  color: #FFFFFF;
  opacity: 0.5;
}

.right-footer span {
 font-weight: 500;
 font-size: 20px;
}

.right-footer nav {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}

.right-home {
  margin-top: 23px;
}

.footer-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 250px;
}

.email-box {
  height: 61px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}


.email-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}

.subscribe-btn {
  margin-left: 140px;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.subscribe-btn:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}


.subscribe-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-text p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-url {
  color: #FFFFFF;
  opacity: 0.5;
  text-align: center;
  padding-bottom: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay--visible {
  display: flex;
}

.modal-home {
  background: #FFFFFF;
  padding: 24px;
  width: 450px;
  padding: 24px 28px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
} 

.modal--visible {
  opacity: 1;
  pointer-events: auto;
}

.modal-home h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-off {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.btn-registration {
  box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
  transition: 0.5s;
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 40px;
  background: blue;
  color: white;
}

.btn-registration:hover{
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-modal label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

.form-modal input {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 2px solid;
  outline: none;
}

.form-modal input:invalid {
  border-color: darkred;
}

.form-modal input:valid {
  border-color: #4caf50;
}

.form-modal:focus {
  border-color: #1042a0;
}

.form-modal button {
  margin-top: 10px;
  padding: 10px ;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: #0B63F6;
  box-shadow: 0 5px 0 #003CC5;
}

.form-modal button:hover {
  background: #003CC5;
  box-shadow: none;
  position: relative;
  top: 5px;
}